<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Resultado da busca por nome do Github</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <!-- <script src='main.js'></script> -->
    </head>
    <body>
        
        <div class="container mt-3">
            <div class="card mt-2 mb-2">
                <div class="card-body">
                    <h4>Resultado por nome</h4> 
                    <div class="card mt-3" > 
                        <img src="<%= dado.avatar_url %>" class="card-img-top" alt="..." style="width: 180px;  height: 200px;" />
                    </div>
                        <strong>Nome - <%= dado.avatar_url %></strong><br/>
                        <strong>Rede social - <%= dado.blog %></strong><br/>
                        <strong>Repositorios Publicos - <%= dado.public_repos %></strong><br/>
                        <strong>Seguidores - <%= dado.followers %></strong><br/>
                        <strong>Seguindo - <%= dado.following %></strong><br/>
                    </div>  
                
                <div>
                    <a href="<%= dado.html_url %>" class="card-link">Github </a>
                </div>
            </div>
            <a href="/" class="btn btn-outline-dark">Procurar outro nome no Github</a>
        </div>
       
    </body>
</html>
